.prepared {
    &-section {
        position: relative;
        @media (max-width: 1600px) {
            padding-right: 130px;
        }
    }
    &-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 64px;
        row-gap: 80px;
        height: 100%;
        padding-top: 106px;
        padding-bottom: 120px;
        max-width: 1624px;
        position: relative;
        @media (max-width: 1600px) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 40px;
        }
        &__item {}
        &__card {
            cursor: pointer;
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            &-img {
                height: 290px;
                width: 100%;
                position: relative;
                margin-bottom: 20px;
                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover
                }
            }
            &-title {
                @include COND20;
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            &-price {
                font-weight: normal;
                font-size: 40px;
                line-height: 112.5%;
                margin-bottom: 14px;
            }
            &-info {
                border-bottom: 1px solid var(--Black);
                margin-bottom: 5px;
            }
            &-desc {
                border-top: 1px solid var(--Black);
                padding-top: 16px;
                padding-bottom: 8px;
                p {
                    margin-bottom: 16px;
                }
            }
            &-btn {
                border: none;
                outline: 1px solid var(--Black);
                outline-offset: -1px;
                background: var(--Grad3);
                @include gradient-text;
                color: white;
                width: 100%;
                padding-top: 17px;
                padding-bottom: 19px;
                z-index: 100;
                text-transform: uppercase;
                position: relative;
                margin-top: auto;
                cursor: pointer;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: var(--BtnRect);
                    z-index: -1;
                    opacity: 0;
                    transition: .2s;
                }
            }
            &:hover {
                .prepared-content__card-price {
                    background: var(--Grad3);
                    @include gradient-text;
                }
                .prepared-content__card-btn {
                    background: none;
                    -webkit-background-clip: unset;
                    -webkit-text-fill-color: unset;
                    outline: none;
                    outline-offset: 0;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-show-more {
        border: none;
        padding: 0;
        text-transform: uppercase;
        @include COND20;
        background: transparent;
        position: absolute;
        bottom: 50px;
        left: calc(50%);
        transform: translateX(-50%);
        cursor: pointer;
        &:hover {
            background: var(--Grad3);
            @include gradient-text;
        }
        @media (max-width: 1600px) {
            left: 50%;
        }
    }
}