.hero {
    &-section {
        padding-top: 48px;
        padding-bottom: 101px;
    }
    &-content {
        display: flex;
        &_left {
            max-width: 1192px;
            width: 100%;
            @media (max-width: 1600px) {
                width: 756px;
            }
        }
        &__img {
            width: 100%;
            height: 528px;
            position: relative;
            margin-bottom: 20px;
            @media (max-width: 1600px) {
                height: 406px;
                margin-bottom: 16px;
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__gallery {
            display: flex;
            &-item {
                margin-right: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @media (max-width: 1600px) {
                    margin-right: 16px;
                }
                &:nth-child(n+8) {
                    display: none;
                }
            }
            &-img {
                position: relative;
                width: 158px;
                height: 101px;
                @media (max-width: 1600px) {
                    width: 120px;
                    height: 80px;
                }
                &:before {
                    content: '';
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: block;
                    position: absolute;
                    background: var(--Grad3);
                    z-index: 100;
                    opacity: 0;
                    transition: .3s;
                }
                &:after {
                    content: "";
                    background: url('/assets/images/common/plus.svg') center no-repeat;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: block;
                    position: absolute;
                    z-index: 100;
                    opacity: 0;
                    transition: .2s;
                }
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover {
                    &:before {
                        opacity: 0.3;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
            &-more {
                white-space: nowrap;
                flex-grow: 1;
                @include COND20;
                color: var(--Gray);
                &:hover {
                    background: var(--Grad3);
                    @include gradient-text;
                }
            }
        }
        &_right {
            padding-left: 36px;
            min-width: 500px;
            @media (max-width: 1600px) {
                min-width: auto;
            }
        }
        &__info {}
        &__list {
            ul {
                position: relative;
                &:before {
                    content: '';
                    height: 100%;
                    width: 4px;
                    background: var(--Grad2);
                    left: 0;
                    top: 0;
                    display: block;
                    position: absolute;
                }
                li {
                    position: relative;
                    padding-left: 30px;
                }
            }
        }
        &__desc {
            max-width: 546px;
            margin-bottom: 40px;
            margin-top: 29px;
            &-block {
                height: auto;
                max-height: 228px;
                overflow: hidden;
                transition: max-height 1s; 
                position: relative;
                padding-bottom: 13px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 25px;
                    background: linear-gradient(0deg, rgba(255,255,255,.6) 80%, rgba(255,255,255,0) 100%);
                }
            }
            .is-show {
                max-height: 1000px;
                &:before {
                    display: none;
                }
            }
            &-btn {
                padding: 0;
                border-bottom: 1px dashed var(--Gray);
                cursor: pointer;
                color: var(--Gray);
            }
        }
        &__title {
            @include H3-dim;
            max-width: 480px;
            margin-bottom: 26px;
            margin-top: 56px;
            @media (max-width: 1600px) {
                margin-top: 50px;
            }
            span {
                background: var(--Grad3);
                @include gradient-text; 
            }
        }
        &__bot {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            &-form {
                display: flex;
                flex-direction: column;
                padding-right: 35px;
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid var(--Black);
                    margin-bottom: 27px;
                    padding-bottom: 7px;
                    &::placeholder {
                        color: #999999;
                    }
                }
            }
            &-anchor {
                padding: 16px 0;
                text-transform: uppercase;
                background: var(--Grad3);
                @include gradient-text;
                display: flex;
                align-items: baseline;
                .svg-sprite-icon {
                    height: 15px;
                    width: 15px;
                    fill: #ce27a7;
                    margin-left: 9px;
                }
            }
            &-order {
                padding: 16px 25px;
                // width: 199px;
            }
            &-inner {
                display: flex;
                flex-direction: column;
            }
            &-calculate {
                width: 313px;
                height: 56px;
                margin-bottom: 11px;
            }
            &-prod {
                width: 313px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}