header.header
    .container 
        .header-wrap 
            a(href="/").header-logo.logo
                +icon('3dlogo')
            nav.header-menu.header-item
                ul 
                    li
                        a(href="#") ПРОДУКЦИЯ
                    ul.header-menu__dropdown.header-menu__dropdown-production
                        li.container 
                            ul.production-list 
                                li.production-list__item
                                    a.production-list__item-link(href="#") АРХИТЕКТУРНЫЙ ДЕКОР
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") АРТ-ШАРЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ГЛЫБЫ ИЗ БЕТОНА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") КОЛОННЫ ИЗ СТАЛЕФИБРОБЕТОНА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ФАСАДНЫЕ ПАНЕЛИ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ГЕРАЛЬДИКА, ОРДЕНА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ОБОЛОЧКИ РПУ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") Ж/Д ПЕРЕЕЗДЫ, ШПАЛЫ, ПЕРЕХОДЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") РОТОНДЫ, КОЛОННАДЫ, ПЕРГОЛЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ТЕАТРАЛЬНЫЕ ДЕКОРАЦИИ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") МОДЕЛИ, ФОРМА, ОСНАСТКА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") АЭРОДРОМНЫЕ ПЛИТЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") МАЛЫЕ АРХИТЕКТУРНЫЕ ФОРМЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ПАРАПЕТЫ, НАВЕРШИЯ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ЕМКОСТИ ИЗ СТЕКЛОПЛАСТИКА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ТРОТУАРНЫЕ ПОКРЫТИЯ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") АРХИТЕКТУРНЫЕ РЕШЕТКИ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") УТЯЖЕЛИТЕЛИ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") МЕТАЛЛОИЗДЕЛИЯ, КОВКА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ДЛИННОМЕРНЫЕ БОРДЮРЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") СКУЛЬПТУРЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ИНТЕРЬЕРНЫЙ ДЕКОР
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ОГРАЖДЕНИЯ БАЛКОНОВ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") РЕШЕТКИ ДЛЯ ПАРКОВКИ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ЦЕРКОВНОЕ УБРАНСТВО
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") СУВЕНИРЫ ИЗ БЕТОНА
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") КРУПНОФОРМАТНЫЕ ПЛИТЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") РАЗДЕЛИТЕЛИ ПОЛОС
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") АРТ-ОБЪЕКТЫ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") КАРТИНЫ НА БЕТОНЕ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") СБОРНЫЕ ПЕРЕКРЫТИЯ
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                                li.production-list__item
                                    a.production-list__item-link(href="#") ТЕННИСНЫЕ И БИЛЬЯРДНЫЕ СТОЛЫ	
                                    .production-list__item-img
                                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                    li
                        a(href="#") ПОРТФОЛИО
                    li
                        a(href="#") ТЕХНОЛОГИИ
                    li
                        a(href="#") УСЛУГИ
                        ul.header-menu__dropdown
                            li
                                a(href="#") ПРОЕКТИРОВАНИЕ
                            li
                                a(href="#") ПРОИЗВОДСТВО
                            li
                                a(href="#") ДОСТАВКА
                            li
                                a(href="#") МОНТАЖ ПОД КЛЮЧ
                    li
                        a(href="#") О НАС
                        ul.header-menu__dropdown
                            li
                                a(href="#") КОМПАНИЯ
                            li
                                a(href="#") КОМАНДА
                            li
                                a(href="#") СЕРТИФИКАТЫ И НАГРАДЫ
                            li
                                a(href="#") СМИ О НАС
                            li
                                a(href="#") ВИДЕО
                            li
                                a(href="#") НАУЧНЫЕ СТАТЬИ
                    li
                        a(href="#") контакты
            .header-contacts.header-item
                .header-contacts__item 
                    .header-contacts__item-city ПЕНЗА
                        +icon('shevron')
                .header-contacts__item 
                    a(href="tel:+7 (499) 391-03-55") +7 (499) 391-03-55 
                ul.header-menu__dropdown.header-contacts__list
                    li.header-contacts__list-item
                        .header-contacts__list-city МОСКВА
                            small центральный офис
                        .header-contacts__list-phone
                            a(href="tel:+7 (499) 391-03-55") +7 (499) 391-03-55
                    li.header-contacts__list-item
                        .header-contacts__list-city ПЕНЗА
                        .header-contacts__list-phone
                            a(href="tel:+7 (499) 391-03-55") +7 (499) 391-03-55
                    li.header-contacts__list-item
                        .header-contacts__list-city РОСТОВ-НА-ДОНУ
                        .header-contacts__list-phone
                            a(href="tel:+7 (928) 628-55-30") +7 (928) 628-55-30
                    li.header-contacts__list-item
                        .header-contacts__list-city РЕСП. БЕЛАРУСЬ
                        .header-contacts__list-phone
                            a(href="tel:+375 (017) 281-72-91") +375 (017) 281-72-91
            a(href="#").header-cta.header-item заказать звонок
            .burger
