header.header
    .container 
        .header-wrap 
            .header-logo.logo
                +icon('3dlogo')
            nav.header-menu.header-item
                ul 
                    li
                        a(href="#") ПРОДУКЦИЯ
                    li
                        a(href="#") ПОРТФОЛИО
                    li
                        a(href="#") ТЕХНОЛОГИИ
                    li
                        a(href="#") УСЛУГИ
                    li
                        a(href="#") О НАС
                    li
                        a(href="#") контакты
            .header-contacts.header-item
            a(href="#").header-cta.header-item заказать звонок