header { flex: 0 0 auto; }

.header {
    @media (max-width: 1000px) {
        box-shadow: 0px 2px 21px 1px rgba(0, 0, 0, 0.09);
    }
    &-wrap {
        padding-top: 32px;
        padding-bottom: 27px;
        display: flex;
        @media (max-width: 1600px) {
            padding-top: 34px;
            padding-bottom: 24px;
        }
        @media (max-width: 1000px) {
            justify-content: space-between;
        }
    }
    &-logo {
        max-width: 175px;
        width: 100%;
        height: 53px;
        @media (max-width: 1600px) {
            max-width: 123px;
            min-width: 123px;
            height: 38px;
        }
        .svg-sprite-icon {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-item {
        padding-top: 7px;
        @media (max-width: 1600px) {
            padding: 0;
        }
        @media (max-width: 1000px) {
            display: none !important;
        }
    }
    &-menu {
        text-transform: uppercase;
        padding-left: 73px;
        padding-right: 93px;
        width: 100%;
        @include COND20;
        @media (max-width: 1600px) {
            padding-left: 56px;
            @include COND16;
        }
        @media (max-width: 1440px) {
            padding-right: 0;
        }
        ul {
            height: 100%;
            display: flex;
            justify-content: space-between;
            li {
                display: inline-block;
                position: relative;
                a {
                    height: 100%;
                    display: block;
                    margin-right: 10px;
                }
                &:hover {
                    > .header-menu__dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                    + .header-menu__dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &:last-child {
                    a {
                        margin: 0;
                    }   
                }
            }
        }
        a {
            color: var(--black);
            white-space: nowrap;
            &:hover {
                background: var(--Grad3);
                @include gradient-text;
            }
        }
        &__dropdown {
            padding: 28px 0;
            border: 1px solid var(--Black);
            background: var(--White);
            z-index: 200;
            position: absolute;
            flex-direction: column;
            border-radius: 10px;
            height: auto !important;
            top: 100%;
            left: -25px;
            visibility: hidden;
            opacity: 0;
            &:hover {
                visibility: visible;
                opacity: 1;
            }
            li {
                a {
                    padding: 10px 35px 13px 24px;
                }
            }
            &-production {
                width: 100%; 
                position: absolute; 
                left: 0; 
                top: 85px;
                padding: 0;
                border: none;
                .production-list {
                    border: 1px solid var(--Black);
                    border-radius: 10px;
                    max-width: none;
                    padding: 67px 110px;
                    @media (max-width: 1600px) {
                        padding: 38px 55px;
                    }
                    a {
                        padding: 0;
                        @media (max-width: 1600px) {
                            @include COND16;
                        }
                        &:hover {
                            -webkit-background-clip: unset;
                            -webkit-text-fill-color: unset;
                        }
                    }
                }
            }
        }
    }
    &-contacts {
        max-width: 462px;
        width: 100%;
        @include COND20;
        display: flex;
        position: relative;
        @media (max-width: 1600px) {
            max-width: 400px;
            min-width: 360px;
            @include COND16;
        }
        @media (max-width: 1200px) {
            min-width: auto;
        }
        &:hover {
            .header-contacts__list {
                opacity: 1;
                visibility: visible;
            }
        }
        &__item {
            flex-basis: 50%;
            display: flex;
            cursor: pointer;
            @media (max-width: 1200px) {
                flex-basis: 100%;
            }
            &:nth-child(2) {
                @media (max-width: 1200px) {
                    display: none;
                }
            }
            &:hover {
                background: var(--Grad3);
                @include gradient-text;
                a {
                    background: var(--Grad3);
                    @include gradient-text;
                }
            }
            &-city {
                height: 100%;
                width: 100%;
                padding-right: 18px;
                text-align: right;
                @media (max-width: 1600px) {
                    padding-right: 0px;
                }
                .svg-sprite-icon  {
                    height: 14px;
                    width: 14px;
                    margin-left: 7px;
                    vertical-align: baseline;
                }
            }
            a {
                color: var(--Black);
                height: 100%;
                width: 100%;
                padding-right: 47px;
                text-align: right;
                white-space: nowrap;
                @media (max-width: 1600px) {
                    padding-right: 12px;
                }
            }
        }
        &__list {
            left: 0;
            width: 100%;
            padding: 5px 47px 10px 40px;
            min-width: 360px;
            @media (max-width: 1600px) {
                padding: 5px 12px 10px 12px;
            }
            @media (max-width: 1200px) {
                left: auto;
                right: 0;
            }
            &-item {
                display: flex;
                align-items: center;
                padding: 20px 0;
                text-align: right;
                border-top: 1px solid var(--GrayLine);
                border-bottom: 1px solid var(--GrayLine);
                white-space: nowrap;
                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            &-city {
                @include COND20;
                flex-basis: 50%;
                padding-right: 35px;
                small {
                    display: block;
                    @include Tiny;
                    color: var(--Gray);
                }
                @media (max-width: 1600px) {
                    padding-right: 20px;
                }
            }
            &-phone {
                flex-basis: 50%;
                a {
                    white-space: nowrap;
                    padding: 0 !important;
                    display: block;
                    color: var(--Black);
                    &:hover {
                        background: var(--Grad3);
                        @include gradient-text;
                    }
                }
            }
        }
    }
    &-cta {
        display: block;
        text-transform: uppercase;
        @include COND20;
        background: var(--Grad3);
        @include gradient-text;
        white-space: nowrap;
        margin-left: 26px;
        @media (max-width: 1600px) {
            margin-left: 40px;
            white-space: normal;
            @include COND16;
        }
    }
}


.burger {
    display: none;
    @media (max-width: 1000px) {
        cursor: pointer;
        padding: 0;
        border: none;
        width: 32px;
        height: 18px;
        background: var(--White);
        display: block;
        position: relative;
        &-line {
            height: 2px;
            width: 100%;
            background: var(--Black);
            position: absolute;
            left: 0;
            transition: .3s;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
    }
    &_active {
        .burger {
            &-line {
                &:nth-child(1) {
                    top: 50%;
                    transform: translateY(-1px) rotate(135deg);
                }
                &:nth-child(2) {
                    transform: translateX(50px);
                }
                &:nth-child(3) {
                    bottom: 50%;
                    transform: translateY(1px) rotate(-135deg);
                }
            }
        }
    }
}


.mob {
    &-menu {
        position: fixed;
        top: 96px;
        bottom: 0;
        left: -100%;
        height: calc(100vh - 96px);
        width: 100%;
        z-index: 500;
        transition: .3s;
        overflow: auto;
        background: var(--White);
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
        @include COND20;
        a {
            &:hover {
                background: var(--Grad3);
                @include gradient-text;
            }
        }
        &__content {
            padding: 94px 8px 0px 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            min-height: 450px;
        }
        &__list {
            padding-left: 105px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .svg-sprite-icon {
                height: 10px;
                width: 6px;
                fill: var(--Gray);
                margin-left: 16px;
                transform: translateY(-3px);
            }
            li {
                margin-bottom: 32px;
            }
            a {
                color: var(--Black);
                text-decoration: none;
                transition: .3s;
            }
        }
        &__bot {
            display: flex;
            justify-content: space-between;
            line-height: 24px;
            padding: 17px 0 22px;
            border-top: 1px solid var(--Black);
            a {
                color: var(--Black);
                text-decoration: none;
                transition: .3s;
                margin-right: 22px;
                &:last-child {
                    margin-right: 0;
                }
                
            }
            &-info {
                @include Tiny;
                color: var(--Gray);
            }
            &-social {
                text-transform: uppercase;
                @include COND16;
            }
        }
        &_active {
            left: 0;
            visibility: visible;
            opacity: 1;
        }
    }
    &-submenu {
        position: fixed;
        top: 96px;
        bottom: 0;
        left: 100%;
        height: calc(100vh - 96px);
        width: 0;
        z-index: 500;
        transition: .3s;
        overflow: auto;
        background: var(--White);
        text-transform: uppercase;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        @include COND20;
        a {
            &:hover {
                background: var(--Grad3);
                @include gradient-text;
            }
        }
        &__title {
            position: absolute;
            top: 18px;
            left: 0;
            padding-left: 105px;
            width: 100%;
            padding-bottom: 8px;
            cursor: pointer;
            font-size: 36px;
            line-height: 100%;
            .svg-sprite-icon {
                transform: rotate(180deg);
                height: 14px;
                width: 10px;
                fill: var(--Black);
                position: absolute;
                top: 10px;
                left: 20px;
                margin: 0;
            }
            &::after {
                content: '';
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                background: var(--Black);
                bottom: 0;
                left: 105px;
            }
        }
        &__content {
            padding: 94px 8px 0px 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            min-height: 450px;
        }
        &__list {
            padding-left: 105px;
            li {
                margin-bottom: 32px;
            }
            a {
                color: var(--Black);
                text-decoration: none;
                transition: .3s;
            }
        }
        &_active {
            left: 0;
            visibility: visible;
            opacity: 1;
            width: 100%;
        }
    }
}