section.hero 
    .container 
        .hero-wrap 
            h1.hero-title Производим декоративные изделия 
                br
                | из стеклофибробетона и стеклокомпозита
            .hero-slider.swiper-container 
                .hero-slider__wrapper.swiper-wrapper 
                    .hero-slider__item.swiper-slide
                        img.hero-slider__item-img(src="/assets/images/content/hero-slide1.png", alt="Ротонды")
                        .hero-slider__item-title Ротонды
                    .hero-slider__item.swiper-slide
                        img.hero-slider__item-img(src="/assets/images/content/hero-slide3.png", alt="Архитектурный декор")
                        .hero-slider__item-title Архитектурный декор
                    .hero-slider__item.swiper-slide
                        img.hero-slider__item-img(src="/assets/images/content/hero-slide2.png", alt="Скульптуры") 
                        .hero-slider__item-title Скульптуры
            .hero-slider__aside 
                .slider-controls
                    .slider-control
                        .slider-control__prev.slider-control__item.swiper-button-prev.hero-slider__prev
                            +icon('arr-left')
                        .slider-control__next.slider-control__item.swiper-button-next.hero-slider__next
                            +icon('arr-right')
                    .slider-control__pagination.swiper-pagination.hero-slider__pagination
            .hero-features
                .hero-feature Безграничные возможности для реализации ваших идей
                .hero-feature Уникальные свойства нашего материала 
                    br 
                    | «3D-БЕТОН»
                .hero-feature Проектирование, производство, доставка и гарантии до 30 лет