@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Open Sans', '../fonts/opensans/opensans/opensans', 400, 'normal');
@include font-face('Open Sans', '../fonts/opensans/opensanslight/opensanslight', 300, 'normal');
@include font-face('Open Sans', '../fonts/opensans/opensanssemibold/opensanssemibold', 600, 'normal');



@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('../fonts/ProximaNova/ProximaNovaCond-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova/ProximaNovaCond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
      url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}