section.section.why-section
    .container 
        +section-title({name:'Почему выбирают нас', link: '', href: ''})
        .section-content.why-content 
            .why-block.why-block_1
                .why-block__num 1
                .why-block__content
                    .why-block__content_left
                        img(src="/assets/images/common/cube.png", alt="img")
                    .why-block__content_right
                        .why-block__content-wrap
                            h3.why-block__title Неограниченные возможности
                            p Возможности применения наших материалов и технологий безграничны. Мы не останавливаемся на направлениях производства, перечисленных на сайте - и приветствуем любую новую идею. 
                                br
                                | Мы применяем наши материалы и технологии для решения именно ваших задач.
                            button.why-block__cta.order ОТПРАВИТЬ ЗАЯВКУ
                        ul 
                            li
                                h3 любая форма
                                p вообще любая, даже самая сложная в мире объемная форма
                            li
                                h3 любой размер
                                p от миллиметровых визиток из бетона до габаритных конструкций в несколько этажей
                            li
                                h3 любые цвет и фактура
                                p от имитации различных вариантов природного камня (песчаник, травертин, гранит и т.д.) до высокотехнологичных фактур – глянцевого или прозрачного бетона
            .why-block__wrap
                .why-block.why-block_2
                    .why-block__num 2
                    .why-block__content
                        .why-block__content_top
                            h3.why-block__title Совершенство
                                br 
                                | и точность форм
                            img(src="/assets/images/common/crown.png", alt="img")
                        .why-block__content_bot
                            p Мы применяем технологию 3d-резки моделей вместо распространенного ручного формования. Засчет этого достигается высокая точность и визуальное совершенство изделий из бетона на заказ. 
                            p Мы умеем создавать скульптуры, лепнину и сложные архитектурные элементы без скульпторов и возможного негативного влияния человеческого фактора.
                .why-block.why-block_3
                    .why-block__num 3
                    h3.why-block__title Делаем на века. 
                        br 
                        | Даем гарантию 
                        br
                        | на материал до 30 лет
                    .why-block__content
                        .why-block__content_left
                            p Фибробетон нового поколения — высокопрочный, с улучшенными физико-техническими показателями. Составы фибробетона тщательно подобраны, испытаны и сертифицированы
                        .why-block__content_right 
                            p Технологии монтажа и производства отработаны и прошли проверку временем
                            a.why-block__link(href="#") МАТЕРИАЛЫ 
                    img(src="/assets/images/common/circles.png", alt="img")
    .section-title.super-title
        h2.section-title__name За 
            span.super-title__fill 10 лет 
            | реализовали более 
            span.super-title__fill 500 проектов
    .container 
        .section-content.why-content 
            .why-block__wrap
                .why-block.why-block_4
                    .why-block__num 4
                    .why-block__content
                        .why-block__content_left
                            img(src="/assets/images/common/column.png", alt="img")
                        .why-block__content_right
                            h3.why-block__title Высокая экспертность
                            p Применяемые в реализации проектов инженерно-технические решения разрабатывались в течение десятилетий в тесном сотрудничестве с кафедрой «Технологии строительных материалов и деревообработки» 
                            p Пензенского госуниверситета архитектуры и строительства под руководством доктора наук профессора Калашникова В.И.
                            p Основатели и сотрудники производственного объединения «3D-бетон» стремятся к одной общей цели – наилучшим образом реализовать Проект, применяя передовые материалы и технологии.
                            a.why-block__link(href="#") НАША КОМАНДА 
                .why-block__inner
                    .why-block.why-block_5
                        .why-block__info 10
                        .why-block__content
                            .why-block__content-wrap
                                h3.why-block__title производственных цехов на собственной площадке
                                .why-block__accent-wrap
                                    .why-block__accent в Пензе
                            .why-block__num 5
                    .why-block.why-block_6
                        .why-block__num 6
                        h3.why-block__title Оптимизация проектных решений
                        .why-block__content
                            .why-block__content_left
                                p Мы разрабатываем уникальные архитектурные и
                                    br 
                                    | инженерно-технические решения, ведущие к оптимизации сметы и значительному увеличению срока службы объекта. Кроме того, мы берем ответственность за их реализацию. Делаем фигуры из бетона на своем производстве - быстро и ответственно, затем доставляем и монтируем с соблюдением всех требований. 
                            .why-block__content_right
                                p Компания-производитель – это существенная экономия денег и времени для наших клиентов. Нет необходимости переплачивать за посредничество или доставку дорогостоящих деталей из столицы или зарубежья. Грамотная организация доставки в ваш город на ваш объект позволяет выиграть время и минимизировать бюджет.
                                button.why-block__cta.order ОТПРАВИТЬ ЗАЯВКУ
            .why-block__wrap.why-video__wrap
                .why-video
                    <iframe src="https://www.youtube.com/embed/HqJP3ogcPrM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
