extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include modules/main-slider/main-slider
	section.section.production-section
		.container 
			+section-title({name:'Продукция', link: 'В КАТАЛОГ', href: '#'})
			.section-content.production-content
				ul.production-list 
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_1
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_2
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_3
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_4
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_5
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_6
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_7
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_8
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_9
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_10
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_11
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_12
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_13
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_14
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_15
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_16
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_17
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_18
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_19
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_20
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_21
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_22
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_23
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_24
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_25
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_26
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_27
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_28
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_29
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_30
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_31
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
					li.production-list__item
						a.production-list__item-link(href="#") Наименование_32	
						.production-list__item-img
							img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
	section.section.pageslider-section
		.container 
			+section-title({name:'Наши проекты в 35+ городах', link: 'В РАЗДЕЛ ПОРТФОЛИО', href: '#'})
			.section-content.pageslider-content
				.pageslider.swiper-container 
					.swiper-wrapper
						.pageslider-item.swiper-slide
							.pageslider-item__side.pageslider-item__main 
								.pageslider-item__img 
									img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-44.jpg", alt="img")
								.pageslider-item__content
									h3.pageslider-item__title Архитектурно-скульптурный ансамбль «Памятник русскому писателю А. И. Куприну»
									.pageslider-item__geo с. Наровчат
									.pageslider-item__tags 
										.pageslider-item__tag Архитектурный декор
										.pageslider-item__tag 3D-ГРАНИТ
										.pageslider-item__tag СКУЛЬПТУРЫ
							.pageslider-item__side.pageslider-item__second
								.pageslider-item__img 
									img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-23.jpg", alt="img")
								.pageslider-item__content
									.pageslider-item__desc Для реализации проекта были разработаны состав и технология изготовления высокопрочного бетона с фактурой гранита «Возрождение» с морозостойкостью более 1000 циклов! в соответствии с требованиями к гранитным основаниям памятников о сроке службы  без видимых разрушений не менее 50 лет. В результате разработки материала, который мы впоследствии назвали 3d-гранит, бюджет проекта, запланированный на приобретение, доставку и монтаж блоков из натурального гранита удалось сократить более чем в 3,5 раза!
						.pageslider-item.swiper-slide
							.pageslider-item__side.pageslider-item__main 
								.pageslider-item__img 
									img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-44.jpg", alt="img")
								.pageslider-item__content
									h3.pageslider-item__title Архитектурно-скульптурный ансамбль «Памятник русскому писателю А. И. Куприну»
									.pageslider-item__geo с. Наровчат
									.pageslider-item__tags 
										.pageslider-item__tag Архитектурный декор
										.pageslider-item__tag 3D-ГРАНИТ
										.pageslider-item__tag СКУЛЬПТУРЫ
							.pageslider-item__side.pageslider-item__second
								.pageslider-item__img 
									img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-23.jpg", alt="img")
								.pageslider-item__content
									.pageslider-item__desc Для реализации проекта были разработаны состав и технология изготовления высокопрочного бетона с фактурой гранита «Возрождение» с морозостойкостью более 1000 циклов! в соответствии с требованиями к гранитным основаниям памятников о сроке службы  без видимых разрушений не менее 50 лет. В результате разработки материала, который мы впоследствии назвали 3d-гранит, бюджет проекта, запланированный на приобретение, доставку и монтаж блоков из натурального гранита удалось сократить более чем в 3,5 раза!
						.pageslider-item.swiper-slide
							.pageslider-item__side.pageslider-item__main 
								.pageslider-item__img 
									img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-44.jpg", alt="img")
								.pageslider-item__content
									h3.pageslider-item__title Архитектурно-скульптурный ансамбль «Памятник русскому писателю А. И. Куприну»
									.pageslider-item__geo с. Наровчат
									.pageslider-item__tags 
										.pageslider-item__tag Архитектурный декор
										.pageslider-item__tag 3D-ГРАНИТ
										.pageslider-item__tag СКУЛЬПТУРЫ
							.pageslider-item__side.pageslider-item__second
								.pageslider-item__img 
									img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-23.jpg", alt="img")
								.pageslider-item__content
									.pageslider-item__desc Для реализации проекта были разработаны состав и технология изготовления высокопрочного бетона с фактурой гранита «Возрождение» с морозостойкостью более 1000 циклов! в соответствии с требованиями к гранитным основаниям памятников о сроке службы  без видимых разрушений не менее 50 лет. В результате разработки материала, который мы впоследствии назвали 3d-гранит, бюджет проекта, запланированный на приобретение, доставку и монтаж блоков из натурального гранита удалось сократить более чем в 3,5 раза!
				.slider-controls.pageslider-controls
					.slider-control
						.slider-control__prev.slider-control__item.swiper-button-prev.pageslider-prev
							+icon('arr-left')
						.slider-control__next.slider-control__item.swiper-button-next.pageslider-next
							+icon('arr-right')
					.slider-control__pagination.swiper-pagination.pageslider-pagination
	include modules/why/why