extends layout/main

block variables
    -var title = 'Список страниц'

block content
    .container
        h1 Список страниц
        ul#page-list 
            li 
                a(href="/") Главная
            li 
                a(href="/product-page.html") Продукция
            li 
                a(href="/portfolio-page.html") Портфолио
            li 
                a(href="/portfolio-item-page.html") Портфолио страница объекта
            li 
                a(href="/product-type-01-page.html") Страница продукции 01
            li 
                a(href="/product-type-02-page.html") Страница продукции 02
            li 
                a(href="/product-type-03-page.html") Страница продукции 03
            li 
                a(href="/product-type-04-page.html") Страница продукции 04
            li 
                a(href="/product-type-05-page.html") Страница продукции 05
            li 
                a(href="/services-page.html") Услуги
            li 
                a(href="/404.html") 404
            li 
                a(href="/policy-page.html") Политика обработки персональных данных

    style.
        #page-list li a {
        display: block;
        font-size: 20px;
        margin-top: 15px;
        }