extends layout/main

block variables
    -var title = 'Список страниц'

block content
    .container
        h1 Список страниц
        ul#page-list 
            li 
                a(target="_blank" href="/") Главная
            li 
                a(target="_blank" href="/product-page.html") Продукция
            li 
                a(target="_blank" href="/portfolio-page.html") Портфолио
            li 
                a(target="_blank" href="/portfolio-item-page.html") Портфолио страница объекта
            li 
                a(target="_blank" href="/product-type-01-page.html") Страница продукции 01
            li 
                a(target="_blank" href="/product-type-02-page.html") Страница продукции 02
            li 
                a(target="_blank" href="/product-type-03-page.html") Страница продукции 03
            li 
                a(target="_blank" href="/product-type-04-page.html") Страница продукции 04
            li 
                a(target="_blank" href="/product-type-05-page.html") Страница продукции 05
            li 
                a(target="_blank" href="/services-page.html") Услуги
            li 
                a(target="_blank" href="/about-us-page.html") О нас
            li 
                a(target="_blank" href="/team-page.html") Команда
            li 
                a(target="_blank" href="/techno-page.html") Технологии
            li 
                a(target="_blank" href="/smi-about.html") СМИ о нас
            li 
                a(target="_blank" href="/smi-video.html") СМИ видео
            li 
                a(target="_blank" href="/smi-science.html") СМИ научные статьи
            li 
                a(target="_blank" href="/404.html") 404
            li 
                a(target="_blank" href="/policy-page.html") Политика обработки персональных данных

    style.
        #page-list li a {
        display: block;
        font-size: 20px;
        margin-top: 15px;
        }