extends layout/main

block variables
    -var title = 'Страница продукции 03'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs-list
                li.breadcrumbs-list__item 
                    a(href="/") ГЛАВНАЯ 
                li.breadcrumbs-list__item 
                    a(href="/") продукция 
    +page-title('Архитектурный декор')
    section.section.hero-section
        .container
            .hero-mobslider.swiper-container 
                .swiper-wrapper
                    a.hero-mobslider__item.swiper-slide(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-mob-gallery" data-title="заголовок изображения") 
                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
                    a.hero-mobslider__item.swiper-slide(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-mob-gallery" data-title="заголовок изображения") 
                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
                    a.hero-mobslider__item.swiper-slide(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-mob-gallery" data-title="заголовок изображения") 
                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
            .hero-content 
                .hero-content_left 
                    .hero-content__img 
                        img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
                    .hero-content__gallery 
                        a.hero-content__gallery-item.hero-content__gallery-img(href="http://placehold.it/3500x500" data-lightbox="hero-gallery" data-title="заголовок изображения")
                            img(src="http://placehold.it/3500x500", alt="img")
                        a.hero-content__gallery-item.hero-content__gallery-img(href="http://placehold.it/500x5000" data-lightbox="hero-gallery" data-title="заголовок изображения")
                            img(src="http://placehold.it/500x5000", alt="img")
                        a.hero-content__gallery-item.hero-content__gallery-img(href="http://placehold.it/500x500" data-lightbox="hero-gallery" data-title="заголовок изображения")
                            img(src="http://placehold.it/500x500", alt="img")
                        a.hero-content__gallery-item.hero-content__gallery-img(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-gallery" data-title="заголовок изображения")
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
                        a.hero-content__gallery-item.hero-content__gallery-img(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-gallery" data-title="заголовок изображения")
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
                        a.hero-content__gallery-item.hero-content__gallery-img(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-gallery" data-title="заголовок изображения")
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg", alt="img")
                        a.hero-content__gallery-item.hero-content__gallery-more(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-gallery" data-title="заголовок изображения") Еще
                            span.gallery-more__count
                        a.hero-content__gallery-item.hero-content__gallery-more(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-gallery" data-title="заголовок изображения")
                        a.hero-content__gallery-item.hero-content__gallery-more(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="hero-gallery" data-title="заголовок изображения")
                .hero-content_right
                    .hero-content__info
                        .hero-content__list 
                            ul 
                                li Проектирование
                                li Изготовление
                                li Доставка
                                li Монтаж
                        .hero-content__title 
                            | Узнайте стоимость вашего 
                            br
                            |  проекта и 
                            span
                                | получите 
                                br
                                |  фото-привязку 
                                br
                                |  на местности бесплатно
                            | !
                        .hero-content__bot 
                            form.hero-content__bot-form 
                                input(type="tel" placeholder="Ваш телефон")
                                button.btn-fill.calc-cost РАССЧИТАТЬ СТОИМОСТЬ
                            a(href="#").hero-content__bot-anchor ГОТОВЫЕ РЕШЕНИЯ 
                                +icon('arr-down') 
    section.section.complet-section
        .container 
            .complet-content
                .complet-content__info
                    .complet-content__links 
                        ul 
                            li.complet-content__links-title
                                | На этой странице
                                +icon('shevron')
                            li
                                a(href="#") ВЫПОЛНЕННЫЕ ПРОЕКТЫ
                            li
                                a(href="#") ПРЕИМУЩЕСТВА
                            li
                                a(href="#") ГОТОВЫЕ РЕШЕНИЯ
                    .complet-content__title Архитектурный фасадный декор из высокопрочного стеклофибробетона (GFRC) нового поколения, легкого фасадного стеклокомпозита, гипса и фиброгипса (GFRG)
                    .complet-content__desc 
                        p Производим архитектурные элементы с гарантией качества: обрамления проемов, карнизы, колонны, пилястры, балюстрады, панно, рустовые и замковые камни, кронштейны, барельефы, розетки, консоли, входные группы и многое другое.
                        p Стеклофибробетон (GFRC) нового поколения, фасадный стеклокомпозит, гипс и фиброгипс (GFRG) – современные материалы, которые отличаются высокой прочностью, легкостью и надежностью.
                        p Уникальные свойства наших материалов позволяют изготавливать фасадные элементы в любом цветовом решении и самой различной текстуры - песчаник, травертин, гранит, известняк, мрамор и другие виды натурального камня, а также дерево, фарфор, металл, глянцевые и глазурованные фактуры и многое другое. Подберем фактуру и нужный Вам оттенок, предложим различные варианты архитектурных решений - исполним проект в любых габаритных размерах под ключ: от стадии проектирования до монтажа и обслуживания готовых конструкций.
                    button.btn-empty.complet-content__desc-more Показать полностью
    section.section.pageslider-section
        .container 
            +section-title({name:'Выполненные проекты', link: 'ВСЕ ПРОЕКТЫ', href: '#'})
            .section-content.pageslider-content
                .pageslider.swiper-container 
                    .swiper-wrapper
                        .pageslider-item.swiper-slide
                            a.pageslider-item__img-more(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_1" data-title="заголовок изображения")
                                +icon('photo_camera')
                                span Еще 
                                span.count 3 
                                br
                                span фото
                                a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_1" data-title="заголовок изображения")
                                a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_1" data-title="заголовок изображения")
                            .pageslider-item__side.pageslider-item__main 
                                .pageslider-item__img 
                                    img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-44.jpg", alt="img")
                                .pageslider-item__content
                                    h3.pageslider-item__title Фасадный декор здания усадьбы  Соколовых-Сибиряковых (XIX в.)
                                    .pageslider-item__geo Москва, Вознесенский пер., 11
                                    button.btn-empty.pageslider-item__what Что было сделано
                                    .pageslider-item__tags 
                                        a(href="#").pageslider-item__tag Архитектурный декор
                                        a(href="#").pageslider-item__tag 3D-ГРАНИТ
                                        a(href="#").pageslider-item__tag СКУЛЬПТУРЫ
                            .pageslider-item__side.pageslider-item__second
                                .pageslider-item__img 
                                    img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-23.jpg", alt="img")
                                .pageslider-item__content
                                    .pageslider-item__desc По предоставленному заказчиком проекту изготовлены элементы архитектурного декора из высокопрочного стеклофибробетона, разработан проект производства работ и произведен шеф-монтаж на объекте.
                        .pageslider-item.swiper-slide
                            a.pageslider-item__img-more(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_2" data-title="заголовок изображения")
                                +icon('photo_camera')
                                span Еще 
                                span.count 3 
                                br
                                span фото
                                a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_2" data-title="заголовок изображения")
                                a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_2" data-title="заголовок изображения")
                            .pageslider-item__side.pageslider-item__main 
                                .pageslider-item__img 
                                    img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-44.jpg", alt="img")
                                .pageslider-item__content
                                    h3.pageslider-item__title Архитектурно-скульптурный ансамбль «Памятник русскому писателю А. И. Куприну»
                                    .pageslider-item__geo с. Наровчат
                                    button.btn-empty.pageslider-item__what Что было сделано
                                    .pageslider-item__tags 
                                        a(href="#").pageslider-item__tag Архитектурный декор
                                        a(href="#").pageslider-item__tag 3D-ГРАНИТ
                                        a(href="#").pageslider-item__tag СКУЛЬПТУРЫ
                            .pageslider-item__side.pageslider-item__second
                                .pageslider-item__img 
                                    img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-23.jpg", alt="img")
                                .pageslider-item__content
                                    .pageslider-item__desc Для реализации проекта были разработаны состав и технология изготовления высокопрочного бетона с фактурой гранита «Возрождение» с морозостойкостью более 1000 циклов! в соответствии с требованиями к гранитным основаниям памятников о сроке службы  без видимых разрушений не менее 50 лет. В результате разработки материала, который мы впоследствии назвали 3d-гранит, бюджет проекта, запланированный на приобретение, доставку и монтаж блоков из натурального гранита удалось сократить более чем в 3,5 раза!
                        .pageslider-item.swiper-slide
                            a.pageslider-item__img-more(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_3" data-title="заголовок изображения")
                                +icon('photo_camera')
                                span Еще 
                                span.count 3 
                                br
                                span фото
                                a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_3" data-title="заголовок изображения")
                                a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-11.jpg" data-lightbox="pageslider-gallery_3" data-title="заголовок изображения")
                            .pageslider-item__side.pageslider-item__main 
                                .pageslider-item__img 
                                    img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-44.jpg", alt="img")
                                .pageslider-item__content
                                    h3.pageslider-item__title Архитектурно-скульптурный ансамбль «Памятник русскому писателю А. И. Куприну»
                                    .pageslider-item__geo с. Наровчат
                                    button.btn-empty.pageslider-item__what Что было сделано
                                    .pageslider-item__tags 
                                        a(href="#").pageslider-item__tag Архитектурный декор
                                        a(href="#").pageslider-item__tag 3D-ГРАНИТ
                                        a(href="#").pageslider-item__tag СКУЛЬПТУРЫ
                            .pageslider-item__side.pageslider-item__second
                                .pageslider-item__img 
                                    img(src="https://3dbeton.ru/wp-content/uploads/2018/09/3d-beton-23.jpg", alt="img")
                                .pageslider-item__content
                                    .pageslider-item__desc Для реализации проекта были разработаны состав и технология изготовления высокопрочного бетона с фактурой гранита «Возрождение» с морозостойкостью более 1000 циклов! в соответствии с требованиями к гранитным основаниям памятников о сроке службы  без видимых разрушений не менее 50 лет. В результате разработки материала, который мы впоследствии назвали 3d-гранит, бюджет проекта, запланированный на приобретение, доставку и монтаж блоков из натурального гранита удалось сократить более чем в 3,5 раза!
                .slider-controls.pageslider-controls
                    .slider-control
                        .slider-control__prev.slider-control__item.swiper-button-prev.pageslider-prev
                            +icon('arr-left')
                        .slider-control__next.slider-control__item.swiper-button-next.pageslider-next
                            +icon('arr-right')
                    .slider-control__pagination.swiper-pagination.pageslider-pagination
    section.section.features-section
        .container 
            +section-title({name:'Почему архитектурный декор заказывают у нас', link: '', href: ''})
            .section-content.features-content
                .features-content__block
                    .features-content__block-inner
                        +icon('shevron')
                        .features-content__block-img 
                            img(src="/assets/images/common/pyramids.png", alt="img")
                        h3.features-content__block-title Долговечность
                        p.features-content__block-desc Мы применяем сертифицированные составы высокопрочного фибробетона нового поколения и легкого стеклокомпозита, обладающие высокими физико-техническими показателями – марка прочности на сжатие (М800 – М2000), морозостойкости (от 500 до 1000 циклов!), что превосходит существующие на рынке аналоги – обычный стеклофибробетон, архитектурный бетон и даже натуральный камень! и позволяет гарантировать длительный срок службы изделий и конструкций без необходимости в ремонте и реставрации.
                .features-content__block
                    .features-content__block-inner
                        +icon('shevron')
                        .features-content__block-img 
                            img(src="/assets/images/common/f-cube.png", alt="img")
                        h3.features-content__block-title Любые размеры, цвета и фактуры
                        p.features-content__block-desc Рады предложить Вам изготовление элементов архитектурного фасадного декора абсолютно любых габаритных размеров, подберем нужный оттенок материала в соответствии с Вашими пожеланиями, при необходимости изготовим изделия с фактурой – гранита, песчаника, известняка, травертина и других видов камня, а также дерева, фармора, металла, глянцевые и глазурованные поверхности. Подберем необходимые цвет и фактуру по предоставленной фотографии или образцу.
                .features-content__block
                    .features-content__block-inner
                        +icon('shevron')
                        .features-content__block-img 
                            img(src="/assets/images/common/ecology.png", alt="img")
                        h3.features-content__block-title Экологичность и безопасность
                        p.features-content__block-desc В основе применяемых нами на производстве материалов лежит природное минеральное сырье: фибробетон и стеклокомпозит производятся из негорючих и нетоксичных материалов, что позволяет гарантировать экологическую и пожарную безопасность производимых изделий.
                .features-content__block
                    .features-content__block-inner
                        +icon('shevron')
                        .features-content__block-img 
                            img(src="/assets/images/common/f-crown.png", alt="img")
                        h3.features-content__block-title Совершенство и точность форм
                        p.features-content__block-desc Достигаются нами за счет применения роботизированных технологий 3d-резьбы моделей вместо широко применяемого ручного формования. Мы создаем лепнину и сложные архитектурные элементы без отклонений от утвержденных Заказчиком моделей.
                .features-content__block
                    .features-content__block-inner
                        +icon('shevron')
                        .features-content__block-img 
                            img(src="/assets/images/common/logistics.png", alt="img")
                        h3.features-content__block-title Проработанная логистика
                        p.features-content__block-desc Наши ротонды уже смонтированы во многих городах России – Москва и Московская область, Пенза и Чебоксары, мы отработали не только технологии производства, но и удобную логистику без переплат для Клиента. Доставим и при необходимости смонтируем изделия в любой точке мира.
                .features-content__block
                    .features-content__block-inner
                        +icon('shevron')
                        .features-content__block-img 
                            img(src="/assets/images/common/hit.png", alt="img")
                        h3.features-content__block-title Работа по индивидуальному заказу
                        p.features-content__block-desc В основном мы специализируемся на индивидуальных заказах под ключ– когда Заказчик предоставляет эскиз/визуализацию либо где-то увиденное понравившееся готовое решение, либо может просто рассказать о своих пожеланиях – и мы вложим душу в реализацию Вашей идеи или проекта. При этом подходе тем не менее мы можем предложить большой выбор готовых решений на любой вкус и бюджет.
    section.section.prepared-section
        .container 
            +section-title({name:'Готовые решения', link: '', href: ''})
            .section-content.prepared-content
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title РОТОНДА «ЭКОНОМ»
                        .prepared-content__card-price 490 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 6 колонн дорического типа, архитрав, 4 радиусных балюстрады, купол внешний металлический (либо черепичный на выбор), потолок вместо внутреннего купола
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title РОТОНДА «КЛАССИКА-5»
                        .prepared-content__card-price 880 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 5 колонн дорического типа, архитрав, купол внешний, купол внутренний, навершие
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title РОТОНДА «ЭКОНОМ»
                        .prepared-content__card-price 990 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 6 колонн дорического типа, архитрав, 4 радиусных балюстрады, купол внешний металлический (либо черепичный на выбор), потолок вместо внутреннего купола
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title ПОЛУРОТОНДА «КЛАССИКА-5»
                        .prepared-content__card-price 650 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 5 колонн дорического типа, архитрав, купол внешний, купол внутренний, навершие
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title РОТОНДА «ЭКОНОМ»
                        .prepared-content__card-price 490 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 6 колонн дорического типа, архитрав, 4 радиусных балюстрады, купол внешний металлический (либо черепичный на выбор), потолок вместо внутреннего купола
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title РОТОНДА «КЛАССИКА-5»
                        .prepared-content__card-price 880 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 5 колонн дорического типа, архитрав, купол внешний, купол внутренний, навершие
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title РОТОНДА «ЭКОНОМ»
                        .prepared-content__card-price 990 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 6 колонн дорического типа, архитрав, 4 радиусных балюстрады, купол внешний металлический (либо черепичный на выбор), потолок вместо внутреннего купола
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                .prepared-content__item
                    .prepared-content__card
                        .prepared-content__card-links
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                            a(href="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg") 
                        .prepared-content__card-img 
                            img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                        h4.prepared-content__card-title ПОЛУРОТОНДА «КЛАССИКА-5»
                        .prepared-content__card-price 650 000
                        .prepared-content__card-info
                        .prepared-content__card-desc
                            p 5 колонн дорического типа, архитрав, купол внешний, купол внутренний, навершие
                            p Изготовим за 50 рабочих дней (доставка не входит в цену)
                        button.prepared-content__card-btn ЗАКАЗАТЬ
                button.prepared-show-more ПОКАЗАТЬ ЕЩЕ
    section.section.process-section
        .container 
            +section-title({name:'Процесс производства', link: '', href: ''})
            .section-content.process-content
                .process-content_left 
                    .process-img.swiper-container
                        .swiper-wrapper
                            .process-img__item.swiper-slide 
                                img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                            .process-img__item.swiper-slide 
                                img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                            .process-img__item.swiper-slide 
                                img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                .process-content_right
                    .process-nav 
                        .process-nav__pagination.swiper-pagination
                        .process-nav__arrows
                            .process-nav__arrow.process-nav__arrow_prev.swiper-button-prev
                                +icon('arr-left')
                            .process-nav__arrow.process-nav__arrow_next.swiper-button-next
                                +icon('arr-right')
                    .process-info.swiper-container
                        .swiper-wrapper
                            .process-info__item.swiper-slide
                                h3.process-info__item-title Разработка проекта
                                .process-info__item-desc
                                    p В первую очередь прорабатывается детальный проект будущей скульптуры – это может быть 3d-модель, либо карандашный эскиз, либо объемный эскиз, исполненный в небольшом масштабе в пластилине, в зависимости от выбранного заказчиком материала и следовательно технологии производства изделия.
                                    p Эскиз согласовывается и при необходимости дорабатывается в соответствие с замечаниями заказчика.
                            .process-info__item.swiper-slide
                                h3.process-info__item-title Изготовление формы
                                .process-info__item-desc
                                    p Изготовливаем мастер-модели в материале на основании согласованной трехмерной модели с помощью резьбы на высокоточном оборудовании с ЧПУ. Производим ручную доводку моделей, наносим разделители.
                            .process-info__item.swiper-slide
                                h3.process-info__item-title Изготовление формы
                                .process-info__item-desc
                                    p Изготовливаем мастер-модели в материале на основании согласованной трехмерной модели с помощью резьбы на высокоточном оборудовании с ЧПУ. Производим ручную доводку моделей, наносим разделители.
    section.section.sculpture-section
        .container 
            +section-title({name:'Скульптура по вашей фотографии', link: '', href: ''})
            .section-content.sculpture-content
                .sculpture-content__img
                    img(src="https://3dbeton.ru/wp-content/themes/3dbeton/img/slider/slide-1.jpg", alt="img")
                .sculpture-content__info 
                    h3.sculpture-content__title Изготовим скульптурный портрет по предоставленным фотографиям
                    .sculpture-content__desc 
                        h3.sculpture-content__desc-title Оригинальный подарок для тех, у кого уже все есть!
                        .sculpture-content__desc-block
                            p Старательными движениями рук наших скульпторов фотография превращается... превращается... 
                                br
                                | в полуметровый бюст из прочного и эстетически совершенного стеклокомпозита / стеклофибробетона! 
                                br
                                | Изготовим за 20 рабочих дней.
                            p Стоимость изделия: 35 000 рублей. 
                                br
                                | Ориентировочная стоимость доставки в Москву и МО – 3 000 рублей. Стоимость доставки в другие регионы просчитаем индивидуально по запросу.
                        .sculpture-content__btns 
                            button.btn-o.sculpture-content__btn.sculpture-content__btn-more.call УЗНАТЬ БОЛЬШЕ
                            button.btn-empty.sculpture-content__btn.sculpture-content__btn-send ОТПРАВИТЬ ФОТО