extends layout/main

block variables
    -var title = 'Пресс-центр Научные статьи'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs-list
                li.breadcrumbs-list__item 
                    a(href="/") ГЛАВНАЯ 
                li.breadcrumbs-list__item 
                    a(href="/") о нас 
    +page-title('Пресс-центр')
    section.section.links
        .container
            .links-content 
                ul.links-list 
                    li.links-list__item
                        a.links-list__item-link(href="#") СМИ О НАС (8)
                    li.links-list__item
                        a.links-list__item-link(href="#") ВИДЕО (2)
                    li.links-list__item
                        a.is-active.links-list__item-link(href="#") НАУЧНЫЕ СТАТЬИ (13)
    section.section.smi
        .container 
            .smi-content
                .smi-grid 
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
                    a(href="#" target="_blank").smi-grid__science.smi-grid__item
                        .smi-grid__item-type 
                            | PDF
                        .smi-grid__item-title НОВОЕ ПОКОЛЕНИЕ: 10 ПРЕДПРИНИМАТЕЛЕЙ, СОЗДАВШИХ БИЗНЕС ДО 30 ЛЕТ
                        .smi-grid__item-desc 
                            p Фонд Содействия Инновациям, 
                            p 26.04.2017
    section.section.smi-more 
        .container 
            .smi-more__content 
                .smi-more__quotes
                    img(src="/assets/images/common/quotes.svg", alt="quotes")
                .smi-more__desc Когда научная работа по усовершенствованию бетона была завершена, разработчики понимали: у них в руках продукт, аналогов которому нет в мире. Но наличие опытного образца еще не давало повода надеяться, что блестящая теория вырастет во что-то большее...
                a.smi-more__link(href="#") ЧИТАТЬ ПОЛНОСТЬЮ В ГАЗЕТЕ “ЗЕМЛЯКИ” (PDF)
                    