extends layout/main

block variables
    -var title = 'Команда'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs-list
                li.breadcrumbs-list__item 
                    a(href="/") ГЛАВНАЯ 
                li.breadcrumbs-list__item 
                    a(href="/") о нас 
    +page-title('Команда')
    section.section.team
        .container
            .team-hero
                .team-hero_left
                    .team-hero__img 
                        img(src="/assets/images/common/kalash.png", alt="v-i-kalashikov")
                    .team-hero__info 
                        h3.team-hero__info-title Ответственно реализуем ваши идеи, воплощая в жизнь результаты научных трудов профессора В.И. Калашникова
                        .hero-content__list 
                            ul 
                                li Развитие технологии производства высокопрочных бетонов и фибробетонов нового поколения — наша главная страсть.
                .team-hero_right
                    .team-hero__desc
                        .team-hero__desc_visible
                            p Калашников Владимир Иванович (1941-2017) — основатель направления «высокопрочные реакционно-порошковые бетоны нового поколения». Заслуженный деятель науки РФ, Заслуженный работник Высшей школы, почетный работник высшего образования Российской федерации, советник Российской Академии архитектуры и строительных наук (РААСН), академик Международная академия наук экологии, безопасности человека (МАНЭБ), доктор технических наук, профессор.
                            p В 2003 г. Кембриджским международным библиографическим центром Калашников В.И. занесен в энциклопедию «Человек года», а в 2006 году в энциклопедию «Лучшие люди России» с награждением медалью и нагрудным знаком, в 2010 году занесен в библиографическую энциклопедию успешных людей России, в 2009 году – награжден медалью «Строительная Слава», а также орденом ПГУАС «За заслуги в развитии строительного...
                        .team-hero__desc_invisible   
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Встретил, рыбными вопрос родного приставка грустный, рыбного пустился своего запятых, которой коварных великий сих алфавит но пор коварный толку переулка.
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Пунктуация, над его! Свой вскоре эта, парадигматическая одна великий злых всеми алфавит но свою дорогу даже языкового подпоясал залетают прямо.
                    button.btn-empty.team-hero__desc-more Показать полностью
            .team-grid__wrap
                .team-grid 
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name ЯНА САНЯГИНА
                        .team-grid__staff-desc Последователь научной школы Калашникова В.И., основатель и руководитель компании, автор и разработчик продукта 3D-бетон.
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name СЕРГЕЙ ПИВИКОВ
                        .team-grid__staff-desc Генеральный директор, главный архитектор проектов, соавтор продукта 3D-бетон
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name СЕРГЕЙ НИКИШИН
                        .team-grid__staff-desc Руководитель скульптурной мастерской
                    .team-grid__item.team-grid__desc
                        .team-grid__desc-sym 
                            img(src="/assets/images/common/quotes.svg", alt="quotes")
                        .team-grid__desc-text Наука дает нам идеи содержания, искусство — идеи формы. Объединяя науку и искусство, мы создаем наш продукт, совершенный во всех отношениях
                    .team-grid__item.team-grid__desc
                        .team-grid__desc-sym 
                            img(src="/assets/images/common/quotes.svg", alt="quotes")
                        .team-grid__desc-text Упрощаем заботы клиента до минимума. Помогаем выбрать материал соответственно задачам проекта, оптимизируем ваши завтраты. В договорах на поставку и монтажные работы прописываем гарантийные обязательства и несем полную ответственность за результат.
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name ИРИНА ФАЮСТОВА
                        .team-grid__staff-desc Руководитель отдела по работе с клиентами
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name ЕКАТЕРИНА ГРИНЧУК
                        .team-grid__staff-desc Руководитель отдела юридического сопровождения клиентов
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name НИКОЛАЙ СУДАКОВ
                        .team-grid__staff-desc Руководитель департамента строительства
                    .team-grid__item.team-grid__staff 
                        .team-grid__staff-img 
                            img(src="http://placehold.it/500x500", alt="img")
                        .team-grid__staff-name ДМИТРИЙ БАБКОВ
                        .team-grid__staff-desc Руководитель цеха высокоточных моделей, 3d-скульптор
                    .team-grid__item.team-grid__desc
                        .team-grid__desc-sym 
                            img(src="/assets/images/common/quotes.svg", alt="quotes")
                        .team-grid__desc-text Кропотливо ведем проект на всех стадиях взаимодействия с клиентом. Воплощаем самые смелые идеи архитекторов и дизайнеров. Производим модели без малейших отклонений от заданных в проекте размеров. Подстраиваем график производства под ваши задачи, доставляем изделия, осуществляем монтаж, шеф-монтаж и эксплуатацию объекта.
        .breadcrumbs_bot
            .container
                .breadcrumbs_bot-wrap
                    .breadcrumbs-next 
                        .breadcrumbs-next__title СЛЕДУЮЩИЙ РАЗДЕЛ
                        a(href="#").breadcrumbs-next__link СМИ о нас
                            +icon('arr-right')
                    ul.breadcrumbs-list
                        li.breadcrumbs-list__item 
                            a(href="/") о нас 
                        li.breadcrumbs-list__item 
                            a(href="/") пресс-центр 
                        li.breadcrumbs-list__item 
                            a(href="/") сми о нас
    .popup-wrap.team-popup__slider
        .popup-overlay
            .popup
                .popup-head 
                    ul.breadcrumbs-list
                        li.breadcrumbs-list__item 
                            a(href="/") ГЛАВНАЯ 
                        li.breadcrumbs-list__item 
                            a(href="/") о нас 
                        li.breadcrumbs-list__item 
                            a(href="/") команда
                    .team-popup__slider-controls 
                        .team-popup__slider-control.team-popup__slider-prev.swiper-button-prev
                            +icon('arr-left')
                        .team-popup__slider-control.team-popup__slider-next.swiper-button-next
                            +icon('arr-right')
                .popup-close
                .team-slider.swiper-container 
                    .swiper-wrapper 
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title ЯНА САНЯГИНА
                            h3.team-slider__item-subtitle Яна Санягина — последователь научной школы Калашникова В.И., основатель и руководитель компании, автор и разработчик продукта 3D-бетон. Опыт реализации проектов и технологий в сфере бетона и фибробетона — 14 лет.
                            .team-slider__item-desc 
                                p Реализованные направления: производство тротуарной плитки по технологиям вибролитья и вибропрессования, производство вибролитьевым способом тонкостенных облицовочных панелей из базальтофибробетона, производство газонных решеток для эко-парковок из высокопрочного самоуплотняющегося бетона, производство торкретированием тонкостенных объемных элементов из декоративного фибробетона (3d-бетон), производство офактуренных изделий из высокопрочного бетона (блоков и элементов благоустройства) имитирующих гранит. Более 50 публикаций в научно-технических изданиях, победы во всероссийских и региональных научных конкурсах, участие в многочисленных выставках, форумах, в том числе легендарный форум «Селигер». В 2009 году в рамках форума «Селигер» участвовала во встрече с премьер-министром Путиным В.В. в числе 50 молодых инноваторов России, в 2011 г. участвовала в числе 200 молодых ученых России во встрече с президентом РФ Медведевым Д.А. в гиперкубе «Сколково». Старт предпринимательской деятельности осуществлен благодаря поддержке Правительства Пензенской области. В 2017 году фондом Бортника включена в список ТОП-10 предпринимателей создавших бизнес до 30 лет.
                                p Сергей Викторович Ананьев — последователь научной школы Калашникова В.И., главный инженер компании, кандидат технических наук, разработчик составов сухих смесей высокопрочных и сверхвысокопрочных бетонов. Опыт реализации проектов и технологий в сфере бетона и фибробетона — 20 лет.
                                p 2011 г. — защита кандидатской диссертации на тему: «Состав, топологическая структура и реотехнологические свойства реологических матриц для производства бетонов нового поколения», 18 лет — работа в строительстве в направлении технического надзора, 10 лет — работа по созданию высокопрочных наливных полов
                                p Организация деятельности и совершенствование технологии производства, разработка методов технического контроля и испытания продукции, организация деятельности производственной лаборатории, проведение экспериментальных работ по освоению новых видов продукции и процессов, разработка, ведение и хранение технологической документации, написание регламентов производства. Выполнение расчетов производственных мощностей и загрузки оборудования, расчет технологических схем, расчет и корректировка проектно-сметной документации; разработка и реализация мероприятия по стабилизации технологических процессов; организация и принятие участия в генеральных и целевых опробованиях процессов и технологий.
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title СЕРГЕЙ ПИВИКОВ
                            h3.team-slider__item-subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Грустный своего парадигматическая даль. Инициал, свое? Инициал которое ведущими вопроса маленькая семь переписали не, взгляд о свое, своих приставка! Залетают.
                            .team-slider__item-desc 
                                p Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Но имеет домах свой родного языком повстречался которой взобравшись они подзаголовок буквоград! Строчка грустный дороге вдали рыбными раз моей которой!
                                p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Безорфографичный, текстами агентство свое журчит дорогу lorem силуэт все одна гор своего страна сбить щеке выйти если. Злых, путь гор.
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Себя пустился первую эта что рукописи продолжил диких домах текста языкового своего заголовок, подпоясал, страна точках заманивший агентство повстречался великий.
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title СЕРГЕЙ НИКИШИН
                            h3.team-slider__item-subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Бросил даже вскоре своих, вершину выйти ему рекламных алфавит запятых заглавных безорфографичный до. Агентство семантика безорфографичный имени города. Которой, предложения.
                            .team-slider__item-desc 
                                p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Силуэт страна маленькая безорфографичный ему мир сбить встретил все пустился от всех грустный речью лучше, коварных о, жаренные он взобравшись вскоре.
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Диких собрал домах текстами пояс напоивший, власти города курсивных предупредила жизни текст приставка живет вдали что обеспечивает моей она. Пор!
                                p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Текста встретил знаках но гор снова имеет переписывается, однажды переписали напоивший заголовок? Взобравшись родного оксмокс всеми имени щеке рот рукописи?
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title ИРИНА ФАЮСТОВА
                            h3.team-slider__item-subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Бросил даже вскоре своих, вершину выйти ему рекламных алфавит запятых заглавных безорфографичный до. Агентство семантика безорфографичный имени города. Которой, предложения.
                            .team-slider__item-desc 
                                p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Силуэт страна маленькая безорфографичный ему мир сбить встретил все пустился от всех грустный речью лучше, коварных о, жаренные он взобравшись вскоре.
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Диких собрал домах текстами пояс напоивший, власти города курсивных предупредила жизни текст приставка живет вдали что обеспечивает моей она. Пор!
                                p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Текста встретил знаках но гор снова имеет переписывается, однажды переписали напоивший заголовок? Взобравшись родного оксмокс всеми имени щеке рот рукописи?
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title ЕКАТЕРИНА ГРИНЧУК
                            h3.team-slider__item-subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Бросил даже вскоре своих, вершину выйти ему рекламных алфавит запятых заглавных безорфографичный до. Агентство семантика безорфографичный имени города. Которой, предложения.
                            .team-slider__item-desc 
                                p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Силуэт страна маленькая безорфографичный ему мир сбить встретил все пустился от всех грустный речью лучше, коварных о, жаренные он взобравшись вскоре.
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Диких собрал домах текстами пояс напоивший, власти города курсивных предупредила жизни текст приставка живет вдали что обеспечивает моей она. Пор!
                                p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Текста встретил знаках но гор снова имеет переписывается, однажды переписали напоивший заголовок? Взобравшись родного оксмокс всеми имени щеке рот рукописи?
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title НИКОЛАЙ СУДАКОВ
                            h3.team-slider__item-subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Бросил даже вскоре своих, вершину выйти ему рекламных алфавит запятых заглавных безорфографичный до. Агентство семантика безорфографичный имени города. Которой, предложения.
                            .team-slider__item-desc 
                                p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Силуэт страна маленькая безорфографичный ему мир сбить встретил все пустился от всех грустный речью лучше, коварных о, жаренные он взобравшись вскоре.
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Диких собрал домах текстами пояс напоивший, власти города курсивных предупредила жизни текст приставка живет вдали что обеспечивает моей она. Пор!
                                p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Текста встретил знаках но гор снова имеет переписывается, однажды переписали напоивший заголовок? Взобравшись родного оксмокс всеми имени щеке рот рукописи?
                        .team-slider__item.swiper-slide
                            h2.team-slider__item-title ДМИТРИЙ БАБКОВ
                            h3.team-slider__item-subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Бросил даже вскоре своих, вершину выйти ему рекламных алфавит запятых заглавных безорфографичный до. Агентство семантика безорфографичный имени города. Которой, предложения.
                            .team-slider__item-desc 
                                p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Силуэт страна маленькая безорфографичный ему мир сбить встретил все пустился от всех грустный речью лучше, коварных о, жаренные он взобравшись вскоре.
                                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Диких собрал домах текстами пояс напоивший, власти города курсивных предупредила жизни текст приставка живет вдали что обеспечивает моей она. Пор!
                                p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Текста встретил знаках но гор снова имеет переписывается, однажды переписали напоивший заголовок? Взобравшись родного оксмокс всеми имени щеке рот рукописи?