.policy {
    &-section {}
    &-content {
        display: flex;
        padding-top: 90px;
        padding-bottom: 130px;
        @media (max-width: 1000px) {
            padding-top: 47px;
            padding-bottom: 85px;
        }
        &__links {
            @include COND20;
            max-width: 359px;
            width: 100%;
            margin-right: 42px;
            @media (max-width: 1600px) {
                display: none;
            }
            ul {
                border-left: 2px solid #8d8d8d;
                li {
                    a {
                        color: var(--Black);
                        opacity: 0.5;
                        display: inline-block;
                        margin-bottom: 14px;
                        padding-left: 20px;
                        &:hover {
                            background: var(--Grad3);
                            @include gradient-text;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__block {
            &s {}
            display: flex;
            margin-bottom: 55px;
            @media (max-width: 1000px) {
                flex-direction: column;
                margin-bottom: 32px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &-title {
                width: 356px;
                min-width: 356px;
                @include H3-dim;
                margin-right: 66px;
                @media (max-width: 1600px) {
                    margin-right: 40px;
                }
                @media (max-width: 1000px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
            &-desc {
                max-width: 778px;
                p {
                    margin-bottom: 50px;
                    @media (max-width: 1000px) {
                        margin-bottom: 30px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}