.portfolio {
    &-section {
        padding-top: 48px;
        padding-bottom: 122px;
        overflow-x: hidden;
        @media (max-width: 1300px) {
            padding-top: 69px;
        }
    }
    &-content {
        padding-right: 168px;
        @media (max-width: 1600px) {
            padding-right: 130px;
        }
        @media (max-width: 768px) {
            padding-right: 0;
        }
    }
    &-list {
        &__item {
            margin-bottom: 80px;
            @media (max-width: 768px) {
                margin-bottom: 40px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

