@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
// @include sprites($spritesheet-sprites);

html {
  font-family: 'Open Sans', Arial, serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  perspective: 1000px;
  @include Body;
  overflow-x: hidden;
}

*,
*::before,
*::after { box-sizing: border-box; outline: none;}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

a {
  text-decoration: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.body-block {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  padding: 0 64px;
  @media (max-width: 1600px) {
    padding: 0 40px;
  }
  @media (max-width: 1000px) {
    padding: 0 8px;
  }
}

//Модули
@import "modules/modules";

h2 {
  @include H2;
}

.slider {
  &-control {
    display: flex;
    &s {
      // border: 1px solid red;
      display: inline-block;
    }
    &__item {
      height: 30px;
      position: static;
      margin: 0;
      .svg-sprite-icon {
        height: 100%;
        width: 100%;
        fill: var(--Black);
        stroke: var(--Black);
      }
    }
    &__prev {
      width: 36px;
      margin-right: 19px;
    }
    &__next {
      width: 45px;
    }
    &__pagination {
      position: static;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
      .swiper-pagination-current {
        font-weight: normal;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
      }
      &-separator {
        display: inline-block;
        width: 20.16px;
        height: 43.1px;
        background: url('/assets/images/common/separator.svg');
      }
      .swiper-pagination-total {
        font-weight: normal;
        font-size: 19px;
        line-height: 150%;
        letter-spacing: 0.01em;
        transform: translateY(23px);
      }
    }
  }
}

.download-file {
  @include COND16;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  span {
    border-bottom: 1px dashed rgba(#FFFFFF, .75);
    margin-right: 10px;
  }
  .svg-sprite-icon {
    height: 31px;
    width: 31px;
    fill: var(--White);
  }
  input[type="file"] {
    display: none;
  }
  &:hover {
    color: var(--Black);
    .svg-sprite-icon {
      fill: var(--Black);
    }
    span {
      border-color: #969696;
    }
  }
  &__wrap {
    position: relative;
  }
  &__names {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    small {
      color: rgba(0, 0, 0, 0.401806)
    }
  }
  &__del {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 180px;
    cursor: pointer;
    display: none;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.page {
  &-title {
    &__name {
      @include H2;
      padding-bottom: 23px;
      border-bottom: 1px solid var(--Black);
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

.section {
  &-title {
    padding: 13px 0 10px 0;
    border-top: 1px solid var(--Black);
    border-bottom: 1px solid var(--Black);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__link {
      @include COND20;
      color: var(--Gray);
      text-transform: uppercase;
      white-space: nowrap;
      &:hover {
        background: var(--Grad3);
        @include gradient-text;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
    &_b {
      border-top: none;
    }
  }
}

.super {
  &-title {
    white-space: nowrap;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ea7eb0;
    width: $content;
    margin: 0 64px;
    @media (max-width: 1600px) {
      margin-right: 0 !important;
      margin-left: 40px;
    }
    @media (max-width: 1000px) {
      margin: 0 8px !important;
      width: auto;
      white-space: normal;
    }
    @include gradient-text;
    &__fill {
      background: var(--Grad2);
      @include gradient-text;
    }
  }
}

.breadcrumbs {
  padding-top: 70px;
  padding-bottom: 24px;
  @media (max-width: 768px) {
    padding-top: 18px;
  }
  &-next {
    &__title {
      @include COND20;
      color: var(--Gray);
      margin-bottom: 16px;
    }
    &__link {
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 100%;
      color: var(--Black);
      @media (max-width: 768px) {
        font-size: 36px;
        line-height: 100%
      }
      &:hover {
        background: var(--Grad2);
        @include gradient-text;
        .svg-sprite-icon {
          fill: #ea7eb0;
          stroke: #ea7eb0;
        }
      }
      .svg-sprite-icon {
        fill: var(--Black);
        stroke: var(--Black);
        height: 30px;
        width: 45px;
        margin-left: 30px;
      }
    }
  }
  &-list {
    display: flex;
    &__item {
      a {
        @include COND20;
        color: var(--Gray);
        text-transform: uppercase;
        margin-right: 5px;
        @media (max-width: 768px) {
          @include COND16;
        }
        &:hover {
          background: var(--Grad3);
          @include gradient-text;
        }
        &:after {
          content: "/";
        }
      }
    }
  }
  &_bot {
    &-wrap {
      padding-top: 69px;
      padding-bottom: 83px;
      border-top: 1px solid var(--Black);
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        padding: 37px 0;
      }
      .breadcrumbs-list {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.pride {
  &-section {
    @media (max-width: 1600px) {
        margin-right: 130px;
    }
    @media (max-width: 768px) {
      margin-right: 0px;
    }
  }
  &-content {
    padding-top: 77px;
    padding-bottom: 114px;
    @media (max-width: 768px) {
      padding-top: 16px;
      padding-bottom: 80px;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 28px;
    justify-items: center;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    }
    &__item {

    }
  }
}

.icon-shevron {
  height: 14px;
  width: 14px;
}

.row {
  &-slider {
    position: relative;
    &__wrap {}
    &__title {
      @include H3;
      margin-bottom: 29px; 
      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
    &__item {
      width: 358px;
      @include COND24;
      text-transform: uppercase;
      color: var(--Black);
      @media (max-width: 768px) {
        width: 272px;
      }
      &:hover {
        background: var(--Grad3);
        @include gradient-text;
        .row-slider__item {
          &-info {
            background: transparent;
            border-image-slice: 9;
            border-width: 9px;
            border-style: solid;
            border-image-source: var(--Grad3);
            outline: none;
            &:before {
              opacity: 0.36;
            }
            &:after {
              opacity: 1;
            }
          }
          &-doc {
            display: none;
          }
        }
      }
      &-title {
        @media (max-width: 768px) {
          @include COND16;
        }
      }
      &-info {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 200;
        background: var(--White);
        padding: 19px 15px;
        font-family: 'Proxima Nova Condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 112.5%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        border: 9px solid transparent;
        outline: 1px solid var(--Black);
        outline-offset: -1px;
        transition: .3s;
        background: var(--White);
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          display: block;
          background: var(--Grad3);
          z-index: -1;
          opacity: 0;
          transition: .3;
        }
        &:after {
          content: "";
          background: url("/assets/images/common/plus.svg") center no-repeat;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          display: block;
          position: absolute;
          z-index: 100;
          opacity: 0;
          transition: .2s;
        }
      }
      &-doc {
        &type {
          margin-bottom: 22px;
          color: var(--Gray);
        }
        &title {}
        &desc {
          margin-top: auto;
          text-transform: none;
          @include Small-16;
          max-width: 284px;
        }
      }
      &-img {
        height: 290px;
        position: relative;
        margin-bottom: 16px;
        @media (max-width: 768px) {
          margin-bottom: 8px;
          height: 196px;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .swiper-slide {
      &-next {
        +.swiper-slide {
          +.swiper-slide {
            @media (max-width: 1744px) {
              opacity: .4;
            }
            ~.swiper-slide {
              opacity: .4;
            }
          }
        }
      }
    } 
    &__controls {
      height: 290px;
      width: 30px;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 1640px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 1750px) {
        left: 1220px;
      }
      @media (max-width: 1600px) {
        left: 1159px;
      }
      &-btn {
        padding-right: 5px;
        flex-grow: 1;
        padding-top: 15px;
        cursor: pointer;
        .svg-sprite-icon {
          height: 31px;
          width: 14px;
          transform: rotate(180deg);
        }
      }   
      &-next {transform: rotate(180deg);}
      &-prev {}
    }
    &_h {
      .row-slider {
        &__controls {
          height: 100%;
        }
        &__item {
          @media (max-width: 768px) {
            width: 134px;
          }
          &-img {
            height: 380px;
            @media (max-width: 768px) {
              height: 140px;
            }
          }
        }
      }
    }
  }
}


.other {
  &-section {}
  &-content {
    padding-top: 75px;
    padding-bottom: 102px;
  }
}


.links {
  &-content {
    position: relative;
    @media (max-width: 768px) {
      padding-top: 18px;
    }
  }
  &-select {
    display: none;
    @media (max-width: 768px) {
        display: block;
        padding: 17px 14px 15px 9px;
        border: 1px solid var(--Gray);
        cursor: pointer;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;
    padding-bottom: 36px;
    transition: .3s;
    &__drop {
      @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 100%;
        z-index: 200;
        width: 100%;
        padding-top: 0;
        background: var(--White);
        box-shadow: 0px 5px 5px 1px rgba(0,0,0,.3);
        visibility: hidden;
        opacity: 0;
        .links-list__item-link {
          margin-bottom: 0;
          margin-right: 0;
          background: var(--White);
          color: var(--Black);
        }
      }
      &_active {
        @media (max-width: 768px) {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &__item {
      &-link {
        display: block;
        padding: 9px 20px 7px;
        background: var(--Black);
        margin-right: 12px;
        margin-bottom: 14px;
        color: var(--White);
        @include COND16;
      }
      .is-active {
        background: var(--BtnRect);
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}