footer.footer 
    .container
        .footer-wrap
            h2.footer-title Свяжитесь с нами
        .footer-content 
            aside.footer-aside 
                .footer-block
                    h3.footer-block__title Главный офис в Москве
                    ul
                        li 
                            a(href="tel:+7 (499) 391-03-55") +7 (499) 391-03-55
                        li ул. Гиляровского, д. 53, офис 3
                        li пн-пт: 09:00–20:00 
                        li сб-вс: 09:00–19:00
                .footer-block
                    h3.footer-block__title Офис в Пензе
                    ul
                        li 
                            a(href="tel:+7 (499) 391-03-55") +7 (499) 391-03-55
                        li ул. Володарского, 20, офис 5
                        li пн-пт: 09:00–20:00 
                        li сб-вс: 09:00–19:00
            article.footer-article
                .footer-article__info 
                    h3.footer-article__title Расскажите 
                        br
                        | о своем проекте 
                    p Заполните форму или отправьте заявку на 
                        a(href="mailto:info@3dbeton.ru") info@3dbeton.ru
                    p Мы свяжемся с вами и ответим на все вопросы
                .footer-article__form
                    form#footer-form
                        input(type="text" placeholder="Имя")
                        input(type="tel" placeholder="Телефон")
                        input(type="email" placeholder="Почта")
                        textarea(placeholder="Задача проекта")
                        .download-file__wrap
                            label.download-file
                                span ПРИКРЕПИТЬ ФАЙЛ
                                +icon('circle-plus')
                                input(type="file" multiple)
                                .download-file__names
                                    small Не более 10 файлов, размером меньше 25 Мб
                            .download-file__del
                                +icon('close')
                        .footer-article__form-bot 
                            .footer-policy Нажимая на кнопку «Отправить», я соглашаюсь с 
                                a(href="#") Политикой конфиденциальности
                            button#footer-send(type="submit") ОТПРАВИТЬ
        .footer-bot
            .footer-bot__item.footer-bot__copy (с) ООО “3D-бетон”, 2021 Все права защищены 
            .footer-bot__item.footer-bot__social
                ul 
                    li
                        a(href="#") ВК
                    li
                        a(href="#") ФБ
                    li
                        a(href="#") ИНСТ
                    li
                        a(href="#") ТЕЛЕГРАМ
            .footer-bot__item.footer-bot__dev Сайт сделан в 
                a(href="https://7pap.ru/") СЕМЬ ПАП: 



.popup-wrap.popup-cta.popup-cta_call
    .popup-overlay
        .popup
            .popup-cta__title Заказать звонок
            .popup-cta__content
                .popup-cta__subtitle Перезвоним 
                    br 
                    | и ответим 
                    br 
                    | на все ваши 
                    br 
                    | вопросы
                form.popup-cta__form
                    input.popup-cta__form-input.popup-cta__form-name(type="text" placeholder="Ваше имя")
                    input.popup-cta__form-input.popup-cta__form-tel(type="tel" placeholder="Телефон")
                    .popup-cta__form-more 
                        .form-more__info 
                            .form-more__info-desc Поможем вам еще быстрее, если вы добавите информацию о вашем проекте:
                            .btn-empty.form-more__info-btn 
                                span Добавить информацию о вашем проекте
                        .form-more__content
                            textarea.popup-cta__form-text(placeholder="Сообщение")
                    .popup-cta__policy Нажимая на кнопку «Отправить», я соглашаюсь с 
                        a(href="#") Политикой конфиденциальности
                    button#popup-cta-send_call.popup-cta__btn.btn-fill(type="submit") ОТПРАВИТЬ
            .popup-close


.popup-wrap.popup-cta.popup-cta_order
    .popup-overlay
        .popup
            .popup-cta__title Заказ
            .popup-cta__content
                .popup-cta__subtitle Оформите заявку — и мы свяжемся с вами для уточнения заказа
                form.popup-cta__form
                    input.popup-cta__form-input.popup-cta__form-name(type="text" placeholder="Ваше имя")
                    input.popup-cta__form-input.popup-cta__form-tel(type="tel" placeholder="Телефон")
                    input.popup-cta__form-input.popup-cta__form-email(type="email" placeholder="Электронная почта")
                    textarea.popup-cta__form-text(placeholder="Описание заказа")
                    .popup-cta-download-file__wrap
                        label.popup-cta-download-file
                            span ПРИКРЕПИТЬ ФАЙЛ
                            +icon('circle-plus')
                            input(type="file" multiple)
                            .popup-cta-download-file__names
                                small Не более 10 файлов, размером меньше 25 Мб
                        .popup-cta-download-file__del
                            +icon('close')
                    .popup-cta__policy Нажимая на кнопку «Отправить», я соглашаюсь с 
                        a(href="#") Политикой конфиденциальности
                    button#popup-cta-send_order.popup-cta__btn.btn-fill(type="submit") ОТПРАВИТЬ
            .popup-close


.popup-wrap.popup-cta.popup-cta_prepared
    .popup-overlay
        .popup
            .popup-slider__wrap 
                .popup-slider.swiper-slider 
                    .popup-slider__controls
                        .popup-slider__controls-btn.popup-slider__controls-next
                            +icon('arrow')
                        .popup-slider__controls-btn.popup-slider__controls-prev
                            +icon('arrow')
                    .swiper-wrapper
            .popup-cta__title Заголовок меняется
            .popup-cta__content
                .popup-cta_prepared-info  
                    .popup-cta_prepared-price 
                        .popup-cta_prepared-price-title Стоимость базовой комплектации:
                        .popup-cta_prepared-price-num
                    .popup-cta_prepared-desc Описание меняется
                form.popup-cta__form 
                    input.popup-cta__form-input.popup-cta__form-name(type="text" placeholder="Ваше имя")
                    input.popup-cta__form-input.popup-cta__form-tel(type="tel" placeholder="Телефон")
                    input.popup-cta__form-input.popup-cta__form-email(type="email" placeholder="Электронная почта")
                    .popup-cta__policy Нажимая на кнопку «Отправить», я соглашаюсь с 
                        a(href="#") Политикой конфиденциальности
                    button#popup-cta-send_prepared.popup-cta__btn.btn-fill(type="submit") ОТПРАВИТЬ
            .popup-close


.popup-wrap.popup-ok
    .popup-overlay
        .popup
            .popup-ok__title Отправлено
            .popup-ok__desc Мы оперативно обработаем вашу заявку и свяжемся с вами в рабочее время (Пн-пт, 09:00–18:00)
            button.btn-fill.popup-ok__btn понятно
            .popup-close